<template id="device">
  <select title="device">
    <option value="mobile,desktop">All Devices (Recommended)</option>
    <option value="mobile">Mobile Only</option>
    <option value="desktop">Desktop Only</option>
  </select>
</template>
<template id="tick">
  <button class="tick">
    <ai-icon-tick></ai-icon-tick>
    <div class="tick__separator"></div>
  </button>
</template>
<template id="ai-placement-row">
  <li>
    <label>
      <span id="name"></span>
      <input type="checkbox">
      <span class="ineligible-text">Ineligible</span>
    </label>
    <ai-card></ai-card>
  </li>
</template>
