<style>
  .ai-placement-container {
    position:        relative;
    display:         flex;
    margin:          0 auto;
    flex:            1;
    padding:         10px;
    max-width:       35%;
    height:          100vh;
    align-items:     center;
    justify-content: center;
  }

  table {
    border:          1px solid #cececc;
    flex:            1;
    border-radius:   3px;
    margin-bottom:   24px;
    border-spacing:  0;
    font-size:       12px;
    text-align:      left;
    table-layout:    fixed;
    color:           #4b4f56;
    line-height:     24px;
    padding:         32px;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid #cececc;
  }

  tr {
    cursor: pointer;
  }

  tr:hover {
    background-color: #80cce6;
  }

  p {
    margin: 0;
  }

  .objective, .creative {
    font-weight: bold;
  }

  .validation {
    width: 50%;
  }

  .restrictions {
    position: absolute;
    top:      20%;
  }

  .restrictions span {
    font-weight: bold;
  }

  .content {
    display:         flex;
    align-items:     center;
    justify-content: center;
  }
</style>
<div class="content">
  <div class="ai-placement-container">
    <div class="restrictions">
      <div>Selected Objective: <span id="objective"></span></div>
      <div>Selected Creative: <span id="creative"></span></div>
    </div>
    <ai-placement id="ai-placement"
                  objective="LINK_CLICKS"></ai-placement>
  </div>
  <div class="validation">
    <table>
      <thead>
        <tr>
          <th>
            Objective
          </th>
          <th>
            Creative
          </th>
          <th>
            Placement
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>
              <span class="objective">BRAND_AWARENESS</span>
            </p>
          </td>
          <td>
            <p><span class="creative">all</span></p>
          </td>
          <td>
            <p>publisher_platforms: facebook, instagram, facebook_positions: feed</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">APP_INSTALLS</span> (promoting Canvas app)</p>
          </td>
          <td>
            <p><span class="creative">app_ads_desktop</span> (Desktop app ads)</p>
          </td>
          <td>
            <p>device_platforms: desktop</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">APP_INSTALLS</span> (promoting mobile app)</p>
          </td>
          <td>
            <p><span class="creative">app_ads_photo_video_mobile</span> (Photo or video mobile app ads)</p>
          </td>
          <td>
            <p>device_platforms: mobile, publisher_platforms: facebook, feed, instagram, instant_articles,
               audience_network
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">CONVERSIONS</span></p>
          </td>
          <td>
            <p><span class="creative">link_ads_page_connected_photo_video</span> (Photo or video link ads from a page)
            </p>
          </td>
          <td>
            <p>all</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">CONVERSIONS</span></p>
          </td>
          <td>
            <p><span class="creative">link_ads_page_disconnected</span> (Link ads not connected to a page)</p>
          </td>
          <td>
            <p>facebook_positions: rightcolumn</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">CONVERSIONS</span> (promoting mobile app)</p>
          </td>
          <td>
            <p><span class="creative">app_ads_photo_video_mobile</span> (Photo or video mobile app ads)</p>
          </td>
          <td>
            <p>device_platforms: mobile</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">EVENT_RESPONSES</span></p>
          </td>
          <td>
            <p><span class="creative">event_ads</span> (Event ads)</p>
          </td>
          <td>
            <p>facebook_positions: rightcolumn</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">EVENT_RESPONSES</span></p>
          </td>
          <td>
            <p><span class="creative">page_post_ads</span> (Page post ads)</p>
          </td>
          <td>
            <p>publisher_platforms: facebook</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">LEAD_GENERATION</span></p>
          </td>
          <td>
            <p><span class="creative">page_post_ads</span> (Page post ads)</p>
          </td>
          <td>
            <p>device_platforms: mobile, desktop, publisher_platforms: facebook, instagram, facebook_positions: feed,
               instagram_positions: stream
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">LINK_CLICKS</span></p>
          </td>
          <td>
            <p><span class="creative">link_ads_page_connected_photo_video</span> (Photo or video link ads from a page)
            </p>
          </td>
          <td>
            <p>all</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">LINK_CLICKS</span></p>
          </td>
          <td>
            <p><span class="creative">link_ads_page_disconnected</span> (Link ads not connected to a page)</p>
          </td>
          <td>
            <p>facebook_positions: rightcolumn</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">LINK_CLICKS</span> (promoting Canvas app)</p>
          </td>
          <td>
            <p><span class="creative">app_ads_desktop</span> (Desktop app ads)</p>
          </td>
          <td>
            <p>device_platforms: desktop</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">LINK_CLICKS</span> (promoting mobile app)</p>
          </td>
          <td>
            <p><span class="creative">app_ads_photo_video_mobile</span> (Photo or video mobile app ads)</p>
          </td>
          <td>
            <p>device_platforms: mobile</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">OFFER_CLAIMS</span></p>
          </td>
          <td>
            <p><span class="creative">offer_ads</span> (Offer ads)</p>
          </td>
          <td>
            <p>publisher_platforms: facebook, audience_network</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">PAGE_LIKES</span></p>
          </td>
          <td>
            <p><span class="creative">video_creatives</span> (Video creatives)</p>
          </td>
          <td>
            <p>publisher_platforms: facebook</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">POST_ENGAGEMENT</span></p>
          </td>
          <td>
            <p><span class="creative">page_post_ads_photo_video</span> (Page post ads (video or photo))</p>
          </td>
          <td>
            <p>publisher_platforms: facebook, instagram</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">POST_ENGAGEMENT</span></p>
          </td>
          <td>
            <p><span class="creative">page_post_ads</span> (Page post ads (text))</p>
          </td>
          <td>
            <p>publisher_platforms: facebook</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">VIDEO_VIEWS</span></p>
          </td>
          <td>
            <p><span class="creative">video_ads</span> (Video ads)</p>
          </td>
          <td>
            <p>publisher_platforms: facebook, instagram, audience_network, instant_articles</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">REACH</span></p>
          </td>
          <td>
            <p><span class="creative">reach_ads</span> (Reach ads)</p>
          </td>
          <td>
            <p>all</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">PRODUCT_CATALOG_SALES</span></p>
          </td>
          <td>
            <p><span class="creative">dynamic_ads</span> (dynamic ads)</p>
          </td>
          <td>
            <p>all</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="objective">STORE_VISITS</span></p>
          </td>
          <td>
            <p><span class="creative">store_visit_ads</span> (store visit ads)</p>
          </td>
          <td>
            <p>publisher_platforms: facebook</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  function updatePlacements ($row) {
    const $placement = document.getElementById('ai-placement');
    const objective = $row.querySelector('.objective').innerText;
    const creative = $row.querySelector('.creative').innerText;
    $placement.setAttribute('objective', objective);
    $placement.setAttribute('creative', creative);
    document.getElementById('objective').innerText = objective;
    document.getElementById('creative').innerText = creative;
  }

  document.querySelectorAll('tbody tr')
          .forEach(($row) => {
            $row.addEventListener('click', () => {
              updatePlacements($row);
            });
          });
</script>
